---
hide:    true
---

@import "jekyll-theme-slate";

#top {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #333333);
  background: -webkit-linear-gradient(top, #373737, #333333);
  background: -ms-linear-gradient(top, #373737, #333333);
  background: -o-linear-gradient(top, #373737, #333333);
  background: linear-gradient(top, #373737, #333333); }

.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.bs-docs-masthead {
  padding-top: 50px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.bs-docs-header h1, .bs-docs-header p {
  margin-right: 0;
}

.bs-docs-sidebar .nav > li > a {
  font-size: 15px;
}

.bs-docs-sidebar .nav .nav > li > a {
  font-size: 14px;
}

#content {
  position: relative;
}

#content:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 30%;
  min-width: 300px;
  background: linear-gradient(135deg, transparent 50px, white 50px);
}

/**
 * Title anchors
 */
.anchor-link {
  opacity: 0;
  position: absolute;
  margin-left: -1em;
  padding-right: 1em;
  font-size: 0.8em;
  line-height: 1.3em;
  color: #999;
  transition: opacity 0.1s ease-in-out;
}

.anchor-link:hover {
  text-decoration: none;
}

h1:hover .anchor-link,
h2:hover .anchor-link,
h3:hover .anchor-link,
h4:hover .anchor-link,
h5:hover .anchor-link {
  opacity: 1;
}

time {
    margin-right: 10px;
}

.invisible-tab {border: 0px;}



li.scrambled > a.eggs:after {
  content: "Contact"; 
}

li.scrambled:focus > a.eggs:after, li.scrambled:hover > a.eggs:after {
  content: attr(data-name) "-" attr(data-dept) "@" attr(data-domain) "." attr(data-tld); 
}

footer.inner {
  font-size: 15px;
}

footer.inner > ul > li > a.social {
  font-size: 25px;
  color: #f2f2f2;
  text-decoration: none;
  padding-right: 30px;
}


footer.inner > ul > li > a.ai-researchgate-square:hover, footer.inner > ul > li > a.ai-researchgate-square:focus {
  color: #00ccbb;
}

footer.inner > ul > li > a.fa-github-square:hover, footer.inner > ul > li > a.fa-github-square:focus {
  color: #777777;
}

footer.inner > ul > li > a.fa-rss-square:hover, footer.inner > ul > li > a.fa-rss-square:focus {
  color: #fd7e14;
}

code.title-code {
  font-size: inherit;
}

.bibtexitem {
  border: none;
}

.bibtexnumber {
  border: none;
}

.bibtextable {
  border: none;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title-md-9 {
  width: 75%
}